./dev-tools/.yarn/*
!./dev-tools/.yarn/patches
!./dev-tools/.yarn/plugins
!./dev-tools/.yarn/releases
!./dev-tools/.yarn/sdks
!./dev-tools/.yarn/versions

node_modules/

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!./dev-tools/.yarn/cache
#.pnp.*
