name: Package audit test tools infrastructure

on:
  push:
    branches:
      - main
    paths:
      - infrastructure/audit-test-tools/**
      - .node_modules/**
  workflow_dispatch: {}

env:
  AWS_REGION: eu-west-2

jobs:
  build:
    name: Build Lambda functions
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: infrastructure/audit-test-tools
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node 22
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: npm
          cache-dependancy-path: package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: .
      - name: Run tests
        if: always()
        run: npm run test
      - name: Build Lambda functions
        if: always()
        run: npm run build
      - name: Upload build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: audit-test-tools-sam-template
          path: |
            .git/
            infrastructure/audit-test-tools/dist/
            infrastructure/audit-test-tools/template.yaml
          retention-days: 7
          include-hidden-files: true

  package:
    strategy:
      matrix:
        include:
          - target: AUDIT_DEV
            ARTIFACT_BUCKET_NAME_SECRET: ARTIFACT_BUCKET_NAME_AUDIT_TEST_TOOLS_AUDIT_DEV
            GH_ACTIONS_ROLE_ARN_SECRET: GH_ACTIONS_ROLE_ARN_TEST_TOOLS_AUDIT_DEV
            SIGNING_PROFILE_SECRET: SIGNING_PROFILE_NAME_AUDIT_DEV
          - target: AUDIT_BUILD
            ARTIFACT_BUCKET_NAME_SECRET: ARTIFACT_BUCKET_NAME_AUDIT_TEST_TOOLS_AUDIT_BUILD
            GH_ACTIONS_ROLE_ARN_SECRET: GH_ACTIONS_ROLE_ARN_AUDIT_TEST_TOOLS_AUDIT_BUILD
            SIGNING_PROFILE_SECRET: SIGNING_PROFILE_NAME_AUDIT_BUILD
    name: Package template
    needs: [build]
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: audit-test-tools-sam-template
      - name: Setup Python 3.8
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.8'
      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@v2
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets[matrix.GH_ACTIONS_ROLE_ARN_SECRET] }}
      - name: Package SAM app
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde # v3.11.0
        with:
          artifact-bucket-name: ${{ secrets[matrix.ARTIFACT_BUCKET_NAME_SECRET]}}
          signing-profile-name: ${{ secrets[matrix.SIGNING_PROFILE_SECRET] }}
          template-file: infrastructure/audit-test-tools/template.yaml
          working-directory: '.'
