name: Validate templates, linting and tests

on:
  pull_request:
    branches:
      - main

jobs:
  linting-and-tests:
    name: Run linting and tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node 22
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
          cache-dependancy-path: package-lock.json

      - name: Install dependencies
        run: npm ci
      - name: Run linting
        run: npm run lint
      - name: Run tests (dev-tools)
        run: npm run --workspace=dev-tools test
      - name: Run tests (audit-test-tools)
        run: npm run --workspace=audit-test-tools test

  validate-templates:
    name: Validate SAM templates
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Python 3.8
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.8'
      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@v2
      - name: Validate SAM templates
        run: ./scripts/validate-templates.sh
